//================================================================================
// LOGIN BEGINS
//================================================================================
//-----------------------------------------------------
// functional variables
//-----------------------------------------------------
          $login1-background:$white;
          $login1-hover:$neptune;
          $login1-links:$neptune;
          $login1-activetab:$night;
          $login1-button:$night;
          $login1-bodyback:$coal;
          $login1-textareaborder:$coal;
          $login1-textareafocus:$coal;
          $login1-tabgroupbackground: rgba(160, 179, 176, 0.25);
          $login-headings:$coal;
          $login-textarea:$coal;
                    //-----------------------------------------------------
                    //
                    //-----------------------------------------------------
 
#login-container{
.panel{
padding:50px !important;
}

  *, *:before, *:after {
    box-sizing: border-box;
  }

  html {
    overflow-y: scroll;
  }


  a {
    text-decoration: none;
    color: $login1-links;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  a:hover {
    color: $login1-hover;
  }

  .login-info{
   padding: 40px;
   margin: 40px auto;
   border-radius: 4px;
  }


  .form {
    background: $login1-background;
   box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }


  h1 {
    text-align: center;
    color: $login-headings;
    font-weight: 300;
    margin: 0 0 40px;
  }

  label {
    position: absolute;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
  }
  label .req {
    margin: 2px;
    color: #17949c;
  }

  label.active {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    left: 2px;
    font-size: 14px;
  }
  label.active .req {
    opacity: 0;
  }

  label.highlight {
    color: #ffffff;
  }

  input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: $login-textarea;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
  }
  input:focus, textarea:focus {
    outline: 0;
    border-color: #17949c;
  }

  textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
  }

  .field-wrap {
    position: relative;
    margin-bottom: 40px;
  }


  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: $login1-button;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
  }



  .button:hover, .button:focus {
    background: $login1-hover;
  }

  .button-block {
    display: block;
    width: 100%;
  }

  .forgot {
    margin-top: -20px;
    text-align: right;
  }
}
              //================================================================================
              // LOGIN ENDS
              //================================================================================
