//================================================================================
// RESTAURANT HEADER.
//================================================================================
#restaurant-hdrcontainer{
    background-image: url("../images/placeholder.jpg");


  #rhdr-shoppingicon{
    font-size: 40px;
    float:right;
  }

#avgrating{
padding-top:30%;

}

#avgrating-star{
  font-size: 30px;

}
#avgrating-emptystar{
  font-size: 30px;
}

#rhdr-info{
padding-top: 30%;
}


}//================================================================================
        // RESTAURANT HEADER
        //================================================================================
