//-----------------------------------------------------
// descriptive variables
//http://chir.ag/projects/name-that-color/#6195ED
//-----------------------------------------------------
$moonmist:#dddfd4;
$sweetcorn:#fae596;
$keppel:#3fb0ac;
$bigstone:#173e43;

$night:#000B29;
$phoneboothred:#D70026;
$pearl:#F8fF2;
$flash:#EDB83D;

$sunshine:#F9BA32;
$steelblue:#426E86;
$quarterspanishwhite:#F8F1E5;
$coal:#2F3131;

$terracotta:#D24136;
$honey:#EB8A3E;
$biscotti:#EBB582;
$stone:#785A46;


$pampas:#EBE3E0;
$oysterPink:#EDD5D1;
$bone:#E3D6C6;
$casablanca:#F9A646;

$mineshaft:#393939;
$internationalorange:#FF5A09;
$jaffa:#F3843E;
$orangepeel:#FF9900;
$dovegray:#6E6E6E;

$brightturquoise:#3FF2E7;
$swirl:#D0CABF;
$silk:#B9B1A8;
$reddamask:#DE8642;
$abbey:#4B4D52;

$athensgray:#F2F2F3;
$mountainmeadow:#1FDA9A;
$flamingo:#EE4B3E;
$goldtips:#E9BC1B;
$albescentwhite:#F5EACD;


$nobel:#B5B5B5;
$morningglory:#92DCE0;
$cerulean:#0092D7;
$limeade:#3EC303;
$tahitigold:#EE8D09;

$tuatara:#3D3C3A;
$tana:#DDD4BC;
$candlelight:#F8DC0B;
$seabuckthorn:#FBA827;

$goldenthizz:#EBFF33;
$mintgreen:#A0FB71;
$aquamarine:#58F8AB;

$lochinvar:#2F8F75;

$crete:#796E24;
$khaki:#F0DF8D;
$carrotorange:#EE9C21;
$tango:#EA7D24;
$paarl:#A34E24;

$dandelion:#FFD464;
$carnation:#F26964;
$toryblue:#1253A4;
$desertstorm:#F4F4F2;

$outerspace:#253939;
$smaltblue:#558188;
$breakerbay:#5FA292;
$atomictangerine:#FF9C5F;
$salmon:#FF8B6C;

$chamois:#EDDAB6;
$zombie:#E8D1A4;
$tumbleweed:#DDA185;
$wellread:#AB3334;
$eclipse:#331919;

$neptune:#78C3AE;
$atlantis:#AED136;
$tacha:#D2C950;
$sage:#9CA98C;
$cardinal:#D32127;

$white:#FFFFFF;
$westar:#DDDAD6;
$astra:#F9F1B5;
$aquaisland:#A6D8DE;
$delrio:#AE9C96;

$fringyflower:#B3DBC0;
$red:#FE0000;
$linen:#FDF6F6;
$downy:#67BACA;

$bostonblue:#31A2AC;
$roofterracotta:#AF1C1C;
$bonjour:#F0EFF0;

$quillgray:#D5D6D2;
$neoncarrot:#FF8D3F;
          //-----------------------------------------------------
          //
          //-----------------------------------------------------
