@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
/* line 10, ../sass/style.scss */
fieldset, label {
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/style.scss */
body {
  margin: 20px;
}

/* line 12, ../sass/style.scss */
h1 {
  font-size: 1.5em;
  margin: 10px;
}

/****** Style Star Rating Widget *****/
/* line 16, ../sass/style.scss */
.rating {
  border: none;
  float: left;
}

/* line 21, ../sass/style.scss */
.rating > input {
  display: none;
}

/* line 22, ../sass/style.scss */
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

/* line 30, ../sass/style.scss */
.rating > .half:before {
  content: "\f089";
  position: absolute;
}

/* line 35, ../sass/style.scss */
.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
/* line 42, ../sass/style.scss */
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

/* hover previous stars in list */
/* line 46, ../sass/style.scss */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

/* line 59, ../sass/style.scss */
.panel-footer {
  background-color: transparent  !important;
}

/* line 64, ../sass/style.scss */
body {
  padding-top: 70px;
}

/* line 98, ../sass/style.scss */
.separator {
  margin-bottom: 2px;
  margin-top: 2px;
  border: 0;
  border-top: 1px solid #eee;
}

/* line 114, ../sass/style.scss */
a {
  text-decoration: none;
  color: #78C3AE;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

/* line 121, ../sass/style.scss */
a:hover {
  color: #78C3AE;
}

/* line 125, ../sass/style.scss */
.row-centered {
  text-align: center !important;
}

/* line 129, ../sass/style.scss */
.col-centered {
  display: inline-block !important;
  float: none !important;
  /* reset the text-align */
  text-align: left !important;
  /* inline-block space fix */
  margin-right: -4px !important;
}

/* line 138, ../sass/style.scss */
section {
  padding: 10px;
}

/* line 143, ../sass/style.scss */
footer {
  border-radius: .25rem;
  border-color: #000;
  background-color: #FFFFFF;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

/* line 151, ../sass/style.scss */
body {
  background-color: #FFFFFF !important;
}

/* line 155, ../sass/style.scss */
.input-fieldformat {
  height: 34px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* line 172, ../sass/style.scss */
.input-row {
  margin-top: 10px;
}

/* line 178, ../sass/style.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 187, ../sass/style.scss */
footer {
  border-radius: .25rem;
  border-color: #000;
  background-color: #FFFFFF;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

/* line 203, ../sass/style.scss */
body {
  background-color: #FFFFFF !important;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* line 221, ../sass/style.scss */
.topbar {
  border-color: #ffffff;
  background-color: #FFFFFF;
}

/* line 255, ../sass/style.scss */
#landingpage-container {
  padding-bottom: 30px;
}
/* line 259, ../sass/style.scss */
#landingpage-container *, #landingpage-container *:before, #landingpage-container *:after {
  box-sizing: border-box;
}
/* line 265, ../sass/style.scss */
#landingpage-container html {
  overflow-y: scroll;
}
/* line 270, ../sass/style.scss */
#landingpage-container a {
  text-decoration: none;
  color: #78C3AE;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
/* line 276, ../sass/style.scss */
#landingpage-container a:hover {
  color: #78C3AE;
}
/* line 280, ../sass/style.scss */
#landingpage-container .login-info {
  padding: 40px;
  margin: 40px auto;
  border-radius: 4px;
}
/* line 287, ../sass/style.scss */
#landingpage-container .form {
  background: #FFFFFF;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
/* line 293, ../sass/style.scss */
#landingpage-container h1 {
  color: #2F3131;
  font-weight: 300;
  margin: 0 0 40px;
}
/* line 299, ../sass/style.scss */
#landingpage-container label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
/* line 311, ../sass/style.scss */
#landingpage-container label .req {
  margin: 2px;
  color: #17949c;
}
/* line 316, ../sass/style.scss */
#landingpage-container label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
/* line 322, ../sass/style.scss */
#landingpage-container label.active .req {
  opacity: 0;
}
/* line 326, ../sass/style.scss */
#landingpage-container label.highlight {
  color: #ffffff;
}
/* line 330, ../sass/style.scss */
#landingpage-container input, #landingpage-container textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #2F3131;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
/* line 343, ../sass/style.scss */
#landingpage-container input:focus, #landingpage-container textarea:focus {
  outline: 0;
  border-color: #17949c;
}
/* line 348, ../sass/style.scss */
#landingpage-container textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}
/* line 354, ../sass/style.scss */
#landingpage-container .button {
  background-color: #1253A4;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 9px 29px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000B29;
}
/* line 374, ../sass/style.scss */
#landingpage-container .button:hover {
  background-color: #78C3AE;
}
/* line 376, ../sass/style.scss */
#landingpage-container s
.button:active {
  position: relative;
  top: 1px;
}
/* line 382, ../sass/style.scss */
#landingpage-container .button-block {
  display: block;
  width: 100%;
}
/* line 387, ../sass/style.scss */
#landingpage-container .forgot {
  margin-top: -20px;
  text-align: right;
}
/* line 392, ../sass/style.scss */
#landingpage-container #lpgreet {
  background-color: #FFFFFF;
  padding: 200px;
}
/* line 395, ../sass/style.scss */
#landingpage-container #lpgreet button {
  padding-left: 30px !important;
  padding-left: 30px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
/* line 404, ../sass/style.scss */
#landingpage-container #lpinfo {
  background-color: #FFFFFF;
}
/* line 405, ../sass/style.scss */
#landingpage-container #lpinfo #lpinfo-heading {
  text-align: center;
  margin-bottom: 20px !important;
}

/* line 447, ../sass/style.scss */
#login-container .panel {
  padding: 50px !important;
}
/* line 451, ../sass/style.scss */
#login-container *, #login-container *:before, #login-container *:after {
  box-sizing: border-box;
}
/* line 455, ../sass/style.scss */
#login-container html {
  overflow-y: scroll;
}
/* line 460, ../sass/style.scss */
#login-container a {
  text-decoration: none;
  color: #78C3AE;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
/* line 466, ../sass/style.scss */
#login-container a:hover {
  color: #78C3AE;
}
/* line 470, ../sass/style.scss */
#login-container .login-info {
  padding: 40px;
  margin: 40px auto;
  border-radius: 4px;
}
/* line 477, ../sass/style.scss */
#login-container .form {
  background: #FFFFFF;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
/* line 483, ../sass/style.scss */
#login-container h1 {
  text-align: center;
  color: #2F3131;
  font-weight: 300;
  margin: 0 0 40px;
}
/* line 490, ../sass/style.scss */
#login-container label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: black;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
/* line 502, ../sass/style.scss */
#login-container label .req {
  margin: 2px;
  color: #17949c;
}
/* line 507, ../sass/style.scss */
#login-container label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
/* line 513, ../sass/style.scss */
#login-container label.active .req {
  opacity: 0;
}
/* line 517, ../sass/style.scss */
#login-container label.highlight {
  color: #ffffff;
}
/* line 521, ../sass/style.scss */
#login-container input, #login-container textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #2F3131;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
/* line 534, ../sass/style.scss */
#login-container input:focus, #login-container textarea:focus {
  outline: 0;
  border-color: #17949c;
}
/* line 539, ../sass/style.scss */
#login-container textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}
/* line 544, ../sass/style.scss */
#login-container .field-wrap {
  position: relative;
  margin-bottom: 40px;
}
/* line 550, ../sass/style.scss */
#login-container .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #000B29;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
/* line 568, ../sass/style.scss */
#login-container .button:hover, #login-container .button:focus {
  background: #78C3AE;
}
/* line 572, ../sass/style.scss */
#login-container .button-block {
  display: block;
  width: 100%;
}
/* line 577, ../sass/style.scss */
#login-container .forgot {
  margin-top: -20px;
  text-align: right;
}

/* line 590, ../sass/style.scss */
.overview-content {
  padding: 35px;
}

/* line 596, ../sass/style.scss */
#overview-mainimg {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

/* line 632, ../sass/style.scss */
.createorder-container *, .createorder-container *:before, .createorder-container *:after {
  box-sizing: border-box;
}
/* line 636, ../sass/style.scss */
.createorder-container html {
  overflow-y: scroll;
}
/* line 642, ../sass/style.scss */
.createorder-container a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
/* line 648, ../sass/style.scss */
.createorder-container a:hover {
  color: #000000;
}
/* line 653, ../sass/style.scss */
.createorder-container .form {
  background: #000000;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
/* line 658, ../sass/style.scss */
.createorder-container h1 {
  text-align: center;
  color: #000000;
  font-weight: 300;
  margin: 0 0 40px;
}
/* line 665, ../sass/style.scss */
.createorder-container label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: #000000;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
/* line 677, ../sass/style.scss */
.createorder-container label .req {
  margin: 2px;
  color: #000000;
}
/* line 682, ../sass/style.scss */
.createorder-container label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
/* line 688, ../sass/style.scss */
.createorder-container label.active .req {
  opacity: 0;
}
/* line 692, ../sass/style.scss */
.createorder-container label.highlight {
  color: #58F8AB;
}
/* line 696, ../sass/style.scss */
.createorder-container input, .createorder-container textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #000000;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
/* line 709, ../sass/style.scss */
.createorder-container input:focus, .createorder-container textarea:focus {
  outline: 0;
  border-color: #58F8AB;
}
/* line 714, ../sass/style.scss */
.createorder-container textarea {
  border: 2px solid #000000;
  resize: vertical;
}
/* line 719, ../sass/style.scss */
.createorder-container .field-wrap {
  position: relative;
  margin-bottom: 40px;
}
/* line 725, ../sass/style.scss */
.createorder-container .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #000B29;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
/* line 740, ../sass/style.scss */
.createorder-container .button:hover, .createorder-container .button:focus {
  background: #78C3AE;
}
/* line 744, ../sass/style.scss */
.createorder-container .button-block {
  display: block;
  width: 100%;
}

/* line 807, ../sass/style.scss */
.customeroverview-container #customeroverview-content {
  max-height: 200px;
}

/* line 828, ../sass/style.scss */
#restaurant-hdrcontainer {
  background-image: url("../images/placeholder.jpg");
}

/* line 832, ../sass/style.scss */
#rhdr-shoppingicon {
  font-size: 40px;
  float: right;
}

/* line 837, ../sass/style.scss */
#avgrating {
  padding-top: 30%;
}

/* line 842, ../sass/style.scss */
#avgrating-star {
  font-size: 30px;
}

/* line 846, ../sass/style.scss */
#avgrating-emptystar {
  font-size: 30px;
}

/* line 850, ../sass/style.scss */
#rhdr-info {
  padding-top: 30%;
}

/* line 863, ../sass/style.scss */
.menu-items {
  border-width: 1px;
  border: 1px solid #e5e5e5;
  border-radius: .25rem;
}

/* line 868, ../sass/style.scss */
.item-price {
  border-top: 1px solid;
  border-color: #e5e5e5;
  border-radius: .25rem;
}

/* line 873, ../sass/style.scss */
.item-description {
  border-top: 1px solid;
  border-right: 1px solid;
  border-color: #e5e5e5;
  border-radius: .25rem;
}

/* line 879, ../sass/style.scss */
#shopping-cart {
  float: right;
  position: fixed;
  top: 20%;
  right: 2%;
}

/* line 886, ../sass/style.scss */
#orderdropdown {
  float: right;
  position: fixed;
  top: 20%;
  right: 2%;
}

/* line 894, ../sass/style.scss */
.collapse.in {
  display: block;
  visibility: visible;
}

/* line 899, ../sass/style.scss */
tr.collapse.in {
  display: table-row;
}

/* line 902, ../sass/style.scss */
tbody.collapse.in {
  display: table-row-group;
}

/* line 905, ../sass/style.scss */
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* line 916, ../sass/style.scss */
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}

/* line 930, ../sass/style.scss */
td a {
  display: block !important;
  width: 100% !important;
}

/* line 947, ../sass/style.scss */
#restaurant-signup-form {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}
