@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
/* line 6, ../sass/style.scss */
#ratings-formbody {
  border-style: solid;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  height: 350px;
}

/* line 15, ../sass/style.scss */
#ratings-comments {
  border-radius: 4px;
  width: 90%;
  height: auto;
}

/* line 27, ../sass/style.scss */
fieldset, label {
  margin: 0;
  padding: 0;
}

/* line 28, ../sass/style.scss */
body {
  margin: 20px;
}

/* line 29, ../sass/style.scss */
h1 {
  font-size: 1.5em;
  margin: 10px;
}

/****** Style Star Rating Widget *****/
/* line 33, ../sass/style.scss */
.rating {
  border: none;
}

/* line 37, ../sass/style.scss */
.rating > input {
  display: none;
}

/* line 38, ../sass/style.scss */
.rating > label:before {
  margin: 5px;
  font-size: 3em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

/* line 46, ../sass/style.scss */
.rating > .half:before {
  content: "\f089";
  position: absolute;
}

/* line 51, ../sass/style.scss */
.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
/* line 58, ../sass/style.scss */
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #3174af;
}

/* hover previous stars in list */
/* line 62, ../sass/style.scss */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

/* line 75, ../sass/style.scss */
.panel-footer {
  background-color: transparent  !important;
}

/* line 80, ../sass/style.scss */
body {
  padding-top: 70px;
}

/* line 114, ../sass/style.scss */
.separator {
  margin-bottom: 2px;
  margin-top: 2px;
  border: 0;
  border-top: 1px solid #eee;
}

/* line 130, ../sass/style.scss */
a {
  text-decoration: none;
  color: #78C3AE;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

/* line 137, ../sass/style.scss */
a:hover {
  color: #78C3AE;
}

/* line 141, ../sass/style.scss */
.row-centered {
  text-align: center !important;
}

/* line 145, ../sass/style.scss */
.col-centered {
  display: inline-block !important;
  float: none !important;
  /* reset the text-align */
  text-align: left !important;
  /* inline-block space fix */
  margin-right: -4px !important;
}

/* line 154, ../sass/style.scss */
section {
  padding: 10px;
}

/* line 159, ../sass/style.scss */
footer {
  border-radius: .25rem;
  border-color: #000;
  background-color: #FFFFFF;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

/* line 167, ../sass/style.scss */
body {
  background-color: #FFFFFF !important;
}

/* line 171, ../sass/style.scss */
.input-fieldformat {
  height: 34px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* line 188, ../sass/style.scss */
.input-row {
  margin-top: 10px;
}

/* line 194, ../sass/style.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 203, ../sass/style.scss */
footer {
  border-radius: .25rem;
  border-color: #000;
  background-color: #FFFFFF;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

/* line 219, ../sass/style.scss */
body {
  background-color: #FFFFFF !important;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* line 237, ../sass/style.scss */
.topbar {
  border-color: #ffffff;
  background-color: #FFFFFF;
}

/* line 271, ../sass/style.scss */
#landingpage-container {
  padding-bottom: 30px;
}
/* line 275, ../sass/style.scss */
#landingpage-container *, #landingpage-container *:before, #landingpage-container *:after {
  box-sizing: border-box;
}
/* line 281, ../sass/style.scss */
#landingpage-container html {
  overflow-y: scroll;
}
/* line 286, ../sass/style.scss */
#landingpage-container a {
  text-decoration: none;
  color: #78C3AE;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
/* line 292, ../sass/style.scss */
#landingpage-container a:hover {
  color: #78C3AE;
}
/* line 296, ../sass/style.scss */
#landingpage-container .login-info {
  padding: 40px;
  margin: 40px auto;
  border-radius: 4px;
}
/* line 303, ../sass/style.scss */
#landingpage-container .form {
  background: #FFFFFF;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
/* line 309, ../sass/style.scss */
#landingpage-container h1 {
  color: #2F3131;
  font-weight: 300;
  margin: 0 0 40px;
}
/* line 315, ../sass/style.scss */
#landingpage-container label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
/* line 327, ../sass/style.scss */
#landingpage-container label .req {
  margin: 2px;
  color: #17949c;
}
/* line 332, ../sass/style.scss */
#landingpage-container label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
/* line 338, ../sass/style.scss */
#landingpage-container label.active .req {
  opacity: 0;
}
/* line 342, ../sass/style.scss */
#landingpage-container label.highlight {
  color: #ffffff;
}
/* line 346, ../sass/style.scss */
#landingpage-container input, #landingpage-container textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #2F3131;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
/* line 359, ../sass/style.scss */
#landingpage-container input:focus, #landingpage-container textarea:focus {
  outline: 0;
  border-color: #17949c;
}
/* line 364, ../sass/style.scss */
#landingpage-container textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}
/* line 370, ../sass/style.scss */
#landingpage-container .button {
  background-color: #1253A4;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 9px 29px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000B29;
}
/* line 390, ../sass/style.scss */
#landingpage-container .button:hover {
  background-color: #78C3AE;
}
/* line 392, ../sass/style.scss */
#landingpage-container s
.button:active {
  position: relative;
  top: 1px;
}
/* line 398, ../sass/style.scss */
#landingpage-container .button-block {
  display: block;
  width: 100%;
}
/* line 403, ../sass/style.scss */
#landingpage-container .forgot {
  margin-top: -20px;
  text-align: right;
}
/* line 408, ../sass/style.scss */
#landingpage-container #lpgreet {
  background-color: #FFFFFF;
  padding: 200px;
}
/* line 411, ../sass/style.scss */
#landingpage-container #lpgreet button {
  padding-left: 30px !important;
  padding-left: 30px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
/* line 420, ../sass/style.scss */
#landingpage-container #lpinfo {
  background-color: #FFFFFF;
}
/* line 421, ../sass/style.scss */
#landingpage-container #lpinfo #lpinfo-heading {
  text-align: center;
  margin-bottom: 20px !important;
}

/* line 463, ../sass/style.scss */
#login-container .panel {
  padding: 50px !important;
}
/* line 467, ../sass/style.scss */
#login-container *, #login-container *:before, #login-container *:after {
  box-sizing: border-box;
}
/* line 471, ../sass/style.scss */
#login-container html {
  overflow-y: scroll;
}
/* line 476, ../sass/style.scss */
#login-container a {
  text-decoration: none;
  color: #78C3AE;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
/* line 482, ../sass/style.scss */
#login-container a:hover {
  color: #78C3AE;
}
/* line 486, ../sass/style.scss */
#login-container .login-info {
  padding: 40px;
  margin: 40px auto;
  border-radius: 4px;
}
/* line 493, ../sass/style.scss */
#login-container .form {
  background: #FFFFFF;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
/* line 499, ../sass/style.scss */
#login-container h1 {
  text-align: center;
  color: #2F3131;
  font-weight: 300;
  margin: 0 0 40px;
}
/* line 506, ../sass/style.scss */
#login-container label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: black;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
/* line 518, ../sass/style.scss */
#login-container label .req {
  margin: 2px;
  color: #17949c;
}
/* line 523, ../sass/style.scss */
#login-container label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
/* line 529, ../sass/style.scss */
#login-container label.active .req {
  opacity: 0;
}
/* line 533, ../sass/style.scss */
#login-container label.highlight {
  color: #ffffff;
}
/* line 537, ../sass/style.scss */
#login-container input, #login-container textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #2F3131;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
/* line 550, ../sass/style.scss */
#login-container input:focus, #login-container textarea:focus {
  outline: 0;
  border-color: #17949c;
}
/* line 555, ../sass/style.scss */
#login-container textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}
/* line 560, ../sass/style.scss */
#login-container .field-wrap {
  position: relative;
  margin-bottom: 40px;
}
/* line 566, ../sass/style.scss */
#login-container .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #000B29;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
/* line 584, ../sass/style.scss */
#login-container .button:hover, #login-container .button:focus {
  background: #78C3AE;
}
/* line 588, ../sass/style.scss */
#login-container .button-block {
  display: block;
  width: 100%;
}
/* line 593, ../sass/style.scss */
#login-container .forgot {
  margin-top: -20px;
  text-align: right;
}

/* line 606, ../sass/style.scss */
.overview-content {
  padding: 35px;
}

/* line 612, ../sass/style.scss */
#overview-mainimg {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

/* line 648, ../sass/style.scss */
.createorder-container *, .createorder-container *:before, .createorder-container *:after {
  box-sizing: border-box;
}
/* line 652, ../sass/style.scss */
.createorder-container html {
  overflow-y: scroll;
}
/* line 658, ../sass/style.scss */
.createorder-container a {
  text-decoration: none;
  color: #000000;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
/* line 664, ../sass/style.scss */
.createorder-container a:hover {
  color: #000000;
}
/* line 669, ../sass/style.scss */
.createorder-container .form {
  background: #000000;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
/* line 674, ../sass/style.scss */
.createorder-container h1 {
  text-align: center;
  color: #000000;
  font-weight: 300;
  margin: 0 0 40px;
}
/* line 681, ../sass/style.scss */
.createorder-container label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: #000000;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
/* line 693, ../sass/style.scss */
.createorder-container label .req {
  margin: 2px;
  color: #000000;
}
/* line 698, ../sass/style.scss */
.createorder-container label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
/* line 704, ../sass/style.scss */
.createorder-container label.active .req {
  opacity: 0;
}
/* line 708, ../sass/style.scss */
.createorder-container label.highlight {
  color: #58F8AB;
}
/* line 712, ../sass/style.scss */
.createorder-container input, .createorder-container textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #000000;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
/* line 725, ../sass/style.scss */
.createorder-container input:focus, .createorder-container textarea:focus {
  outline: 0;
  border-color: #58F8AB;
}
/* line 730, ../sass/style.scss */
.createorder-container textarea {
  border: 2px solid #000000;
  resize: vertical;
}
/* line 735, ../sass/style.scss */
.createorder-container .field-wrap {
  position: relative;
  margin-bottom: 40px;
}
/* line 741, ../sass/style.scss */
.createorder-container .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #000B29;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
/* line 756, ../sass/style.scss */
.createorder-container .button:hover, .createorder-container .button:focus {
  background: #78C3AE;
}
/* line 760, ../sass/style.scss */
.createorder-container .button-block {
  display: block;
  width: 100%;
}

/* line 823, ../sass/style.scss */
.customeroverview-container #customeroverview-content {
  max-height: 200px;
}

/* line 844, ../sass/style.scss */
#restaurant-hdrcontainer {
  background-image: url("../images/placeholder.jpg");
}

/* line 848, ../sass/style.scss */
#rhdr-shoppingicon {
  font-size: 40px;
  float: right;
}

/* line 853, ../sass/style.scss */
#avgrating {
  padding-top: 30%;
}

/* line 858, ../sass/style.scss */
#avgrating-star {
  font-size: 30px;
}

/* line 862, ../sass/style.scss */
#avgrating-emptystar {
  font-size: 30px;
}

/* line 866, ../sass/style.scss */
#rhdr-info {
  padding-top: 30%;
}

/* line 879, ../sass/style.scss */
.menu-items {
  border-width: 1px;
  border: 1px solid #e5e5e5;
  border-radius: .25rem;
}

/* line 884, ../sass/style.scss */
.item-price {
  border-top: 1px solid;
  border-color: #e5e5e5;
  border-radius: .25rem;
}

/* line 889, ../sass/style.scss */
.item-description {
  border-top: 1px solid;
  border-right: 1px solid;
  border-color: #e5e5e5;
  border-radius: .25rem;
}

/* line 895, ../sass/style.scss */
#shopping-cart {
  float: right;
  position: fixed;
  top: 20%;
  right: 2%;
}

/* line 902, ../sass/style.scss */
#orderdropdown {
  float: right;
  position: fixed;
  top: 20%;
  right: 2%;
}

/* line 910, ../sass/style.scss */
.collapse.in {
  display: block;
  visibility: visible;
}

/* line 915, ../sass/style.scss */
tr.collapse.in {
  display: table-row;
}

/* line 918, ../sass/style.scss */
tbody.collapse.in {
  display: table-row-group;
}

/* line 921, ../sass/style.scss */
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* line 932, ../sass/style.scss */
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}

/* line 946, ../sass/style.scss */
td a {
  display: block !important;
  width: 100% !important;
}

/* line 963, ../sass/style.scss */
#restaurant-signup-form {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}
